<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title></title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <h1>
            Hallo <%=user.name%>, terima kasih telah berbelanja di aplikasi kami
        </h1>
        <h2>
            Silahkan klik tombol dibawah ini untuk mengkonfirmasi pembayaran
            anda
        </h2>
        <a href="https://google.com">
            <button>Konfirmasi Pembayaran</button>
        </a>
        <!-- <script src="./main.js"></script> -->
    </body>
</html>
