<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <h3>
            Hi, <%= user.name %>, we have request reset password for your
            account
        </h3>
        <h4>Your OTP Code for reset password :</h4>
        <b><%= user.otp %></b>
    </body>
</html>
