<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title></title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <h1>Hallo <%=user.name%>, selamat datang di aplikasi kami</h1>
        <h2>
            Silahkan <a href="https://google.com">klik</a> disini untuk
            memverifikasi email kamu
        </h2>
        <!-- <script src="./main.js"></script> -->
    </body>
</html>
