<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
    </head>

    <body>
        <h2>Reset Password :</h2>
        <form
            action="/user/auth/resetPassword?token=<%= token %>"
            method="POST"
        >
            <div>
                <label>OTP </label>
                <input type="text" name="otp1" placeholder="OTP" />
            </div>

            <br />

            <div>
                <label>New Password </label>
                <input
                    type="text"
                    name="new_password"
                    placeholder="New Password"
                />
            </div>

            <br />

            <div>
                <label>Confirm New Password </label>
                <input
                    type="text"
                    name="confirm_new_password"
                    placeholder="Confirm New Password"
                />
            </div>

            <br />

            <input type="submit" />
        </form>
    </body>
</html>
